

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: hidden;
}

p{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Wrapper for page content to push down footer */
#container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 0 -61px 0;
    padding: 0;
}

#dash-container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Set the fixed height of the footer here */
#push {
    height: 55px;
    width: 100%;
}

#menu {
    padding: 5px 0;
    height: 60px;
    width: 100%;
    border: 0;
    border-top: 1px solid #bbb;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#menu {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}

#main-canvas {
  padding: 0;
  margin: 0;
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.color-gradient {
    border: 1px solid #b2b2b2;
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.5);
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.5);
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#left-part {
    float: left;
    border-right: solid 2px Black;
}

#right-part {
    float: right;
    border-left: solid 2px Black;
}   

.bottom-bar {
    display: inline;
    padding: 14px 18px 0px 12px;
}

.bottom-bar img {
    height: 45px;
    opacity: 0.8;
}


#chat-shadow {
    position: absolute;
    bottom: 120px;
    left: 100%;
    border-radius: 0 10px 10px 0;        
    box-shadow: black 0 2px 12px 0;
    -webkit-box-shadow: black 0 2px 12px 0;
    -moz-box-shadow: black 0 2px 12px 0; 
}

#chat-shadow a {
    line-height: 0;
    display: block;
}

#chat-button-img {
    height: 45px;
    position: relative;
    padding: 5px;
    border-radius: 0 10px 10px 0;
    border-left: 0;
    z-index: 5;   
}

#chat {
    max-height: 60%;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 300px;
    height: 100%;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: all 0.2s cubic-bezier(0.49, 0.81, 0.52, 0.9); 
    -moz-transition: all 0.2s cubic-bezier(0.49, 0.81, 0.52, 0.9); 
    -o-transition: all 0.2s cubic-bezier(0.49, 0.81, 0.52, 0.9); 
    transition: all 0.2s cubic-bezier(0.49, 0.81, 0.52, 0.9);
    opacity: 0.8;
}

#chat-bar {
    height: 100%;
    min-height: 260px;
    max-height: 500px;
    width: 100%;
    position: absolute;
    bottom: 85px;
    z-index: 5;
    padding: 10px 0 15px 0;
    border: 1px solid #ccc;
    border-left: 0;
    -webkit-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
    background-clip: padding-box;
    box-shadow: black 0 2px 12px 0;
    -webkit-box-shadow: black 0 2px 12px 0;
    -moz-box-shadow: black 0 2px 12px 0; 
}

#chat-bar-head,
#chat-bar-textarea {
    margin: 0 auto;
    width: 270px;
}

#chat-bar-head h4 {
    margin: 0 0 0 2px;
}

#chat-bar-textarea {
    padding: 3px 5px;
    width: 258px;
    margin: 3px auto 3px auto;
    border: 1px solid #aaa;
    background-color: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

#chat-input {
    width: 181px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 3px 3px;
    background-clip: padding-box;
}

#chat-send {
    margin-top: 3px;
    margin-right: 6px;
    width: 56px;
    height: 23px;
    float: right;
    border: 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 3px 3px;
    background-clip: padding-box;
    background: url('../img/tlacitko_send.png');
    background-size: 54px 23px;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 8px;
    background-clip: padding-box;
}

#tools-shadow {
    position: absolute;
    bottom: 120px;
    right: 142px;  
    border-radius: 10px 0 0 10px;        
    box-shadow: black 0 2px 12px 0;
    -webkit-box-shadow: black 0 2px 12px 0;
    -moz-box-shadow: black 0 2px 12px 0; 
}

#tools-shadow a {
    line-height: 0;
    display: block;
}

#tools-button-img {
    position: relative;
    height: 45px;
    padding: 5px;
    border-radius: 10px 0 0 10px;
    border-right: 0;
    border-color: #ccc;
    z-index: 5;            
}

#tools {
    height: 385px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 142px;
    margin: 0;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: all 0.2s cubic-bezier(0.49, 0.81, 0.52, 0.9); 
    -moz-transition: all 0.2s cubic-bezier(0.49, 0.81, 0.52, 0.9); 
    -o-transition: all 0.2s cubic-bezier(0.49, 0.81, 0.52, 0.9); 
    transition: all 0.2s cubic-bezier(0.49, 0.81, 0.52, 0.9);  
    opacity: 0.8;        
}

#tools-bar {
    width: 142px;
    position: absolute;
    right: 0;
    bottom: 85px;
    -webkit-border-radius: 30px 0 0 30px;
    -moz-border-radius: 30px 0 0 30px;
    background-clip: padding-box;
    border-radius: 30px 0 0 30px;
    z-index: 1;
    border: 1px solid #ccc;
    border-right: 0;
    box-shadow: black 0 2px 12px 0;
    -webkit-box-shadow: black 0 2px 12px 0;
    -moz-box-shadow: black 0 2px 12px 0; 
}

#tool-table {
    bottom: 0;
    width: 100%;
    padding: 10px;
}

#tool-table td {
    padding: 3px;
}

#tool-table button {
    background-clip: padding-box;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #aaa;
    background-color: #e7e7e7;
}

#tool-table img {
    padding-top: 2px;
    height: 34px;
}

#settings, #save, #loading{
    background-color: Grey;
    opacity: 0.9;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#loading {
    color: White;
    font-size: 20px;
    font-weight: bold;
    padding-top: 300px;
}

#settings-pane, #save-pane{
    height: 500px;
    width: 400px;
    border: solid 1px White;
    border-radius: 20px;
    margin: 50px auto;
    position: relative;
    padding-top: 30px;
    text-align: center;
}

#settings-pane p, #save-pane p {
    color: White;
    font-weight: bold;
    font-size: 22px;
    margin-top: 20px;
}

#settings-pane select{
    width: 250px;
    font-size: 22px;
    font-weight: bold;
}

#settings-confirm-button, #save-confirm-button, 
#settings-cancel-button, #save-cancel-button {
    height: 50px;
    width: 200px;
    border: solid 1px White;
    border-radius: 10px;
    margin: 30px auto;
    color: Black;
    font-weight: bolder;
    font-size: 30px;
    padding-top: 10px
}

.red-dark {
    background-color: #B32424
}
.red-light {
    background-color: #E6B8B8;
}
.red-dark-text {
    color: #B32424
}

.violet-dark {
    background-color: #8A24B3;
}
.violet-light {
    background-color: #D8B8E6;
}
.violet-dark-text {
    color: #8A24B3;
}

.blue-dark {
    background-color: #2445B3;
}
.blue-light {
    background-color: #B8C2E6;
}
.blue-dark-text {
    color: #2445B3;
}

.aqua-dark {
    background-color: #149A7A;
}
.aqua-light {
    background-color: #B8DDE0;
}
.aqua-dark-text {
    color: #149A7A;
}

.green-dark {
    background-color: #24B32E;
}
.green-light {
    background-color: #B8E6BB;
}
.green-dark-text {
    color: #14A31E;
}

.yellow-dark {
    background-color: #AEB324;
}
.yellow-light {
    background-color: #E4E6B8;
}
.yellow-dark-text {
    color: #AEB324;
}

.orange-dark {
    background-color: #B37C24;
}
.orange-light {    
    background-color: #E6D4B8;
}
.orange-dark-text {
    color: #B37C24;
}

#create-canvas, #connect-canvas, #create-button {
    width: 200px;
    height: 200px;
    background-color: #3d79df;
    border: solid 1px #ddd;
    border-radius: 10px;
    box-shadow: black 0 2px 12px 0;
    background-clip: padding-box;
    -webkit-box-shadow: black 0 2px 12px 0;
    -moz-box-shadow: black 0 2px 12px 0; 
}

#create-canvas p {
    padding-top: 60px;
}

#connect-canvas{ 
    position: absolute;
    left: 240px;
    top: 0;  
}

#connect-canvas p {
    padding-top: 40px;
}

#create-button {
    margin-top: 10px;
}

#create-button p {
    padding-top: 80px;
}

#dashscreen {
    width: 440px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -220px;
    margin-top: -140px;
}

#dashscreen p, #create-button p {
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
}

#create-canvas-page {
    width: 200px;
    height: 280px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -220px;
}

#create-canvas-page > p,
#select-canvas-page > p {
    font-size: 20px;
}

#create-canvas-page input, #username {
    background-color: #e7e7e7;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
    font-size: 20px;
    width: 190px;
    margin: 10px 0;
}

#select-canvas-page {
    width: 260px;
    height: 280px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -220px;
}

#select-canvas-page div {
    position: absolute;
    top: 65px;
    left: 25px;
}

#select-canvas-page select {
    position: absolute;
    top: 15px;
    left: 0;
    width: 250px;
    margin: 10px 0;
    font-size: 22px;
}

#color-page {
    width: 415px;
    height: 265px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -220px;
    text-align: center;
}

#color-page div{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: black 0 2px 12px 0;
    -webkit-box-shadow: black 0 2px 12px 0;
    -moz-box-shadow: black 0 2px 12px 0; 
    position: absolute;
}

#color-page p {
    color: White;
    font-weight: bold;
    padding-top: 65px;
    font-size: 17px;
}

#chooseRed {
    top: 100px;
    left: 0;
}

#chooseViolet {
    top: 100px;
    left: 105px;
}

#chooseBlue {
    top: 100px;
    left: 210px;
}

#chooseAqua {
    top: 100px;
    left: 315px;
}

#chooseGreen {
    top: 205px;
    left: 52px;
}

#chooseYellow {
    top: 205px;
    left: 157px;
}

#chooseOrange {
    top: 205px;
    left: 262px;
}